*{
    margin: 0px;
}

#initial-box{
    width: 600px;
    height: 335px;

    border-radius: 10px;

    margin-left: auto;
    margin-right: auto;

    background-repeat: no-repeat;
    background-size:cover;
    color:white;
    
}



#main-heading{

    font-size: 40px;
    width: 50%;
    text-align: center;
}
button{
    font-size: 20px;
    height: 35px;
    border: none;
    border-radius: 10px;
    width: 40%;
    margin-right: 5%;
    background: rgba(248, 248, 248, 0.3);

    font-weight: bold;
    
}
button:hover{
    background-color: rgba(28, 27, 27, 0.55);
    color: white;

}
#location{
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

#info-container{
    font-size: 10px;
    font-weight: bold;



}
.temp-value-box{

    justify-content: center;
    font-size: 48px;
    display: flex;
    flex-direction: row;


}
#data{
    display: flex;
    flex-direction: row;
    width: 560px;
    height: 132px;
    background-color: white;
    background: rgba(248, 248, 248, 0.3);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;

    color: black;
    
}
#time-box-1, #time-box-2, #time-box-3{

    text-align: center;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    opacity: 1;
    width: 33%;
    margin: 10px;
 
    
}
#time-box-1{
    width: 33%;

    
}
#time-box-2{
    width: 33%;

}
#time-box-3{
    width: 33%;
    
}
.additional-box{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    width: 100%;
    justify-content: center;
    margin-bottom: 5px;
}
.temp-feels-value{
    width: 34%;
    text-align: center;
}
.humidity-value{
    width: 33%;
    text-align: center;
}
.wind-value{
    width: 33%;
    text-align: center;
}
